# Notebook for exploration of the EEL datafile

In [7]:
import pandas as pd

## 1. Load data into Dataframe

In [14]:
pathdir = '../data/raw'

# List available data files
import glob
listfiles= glob.glob(pathdir+'/'+'*.csv');
print(*listfiles, sep = "\n")

../data/raw/EELCTDandLADCP_refpos_origCTD.csv
../data/raw/EELCTDandLADCP_refdate.csv
../data/raw/EELCTDandLADCP_2Dfield.csv
../data/raw/EELCTDandLADCP_refpos_gvel.csv
../data/raw/EELCTDandLADCP_3Dfield.csv

#### Import 3D Fields

In [15]:
file1 = pathdir+'/'+'EELCTDandLADCP_3Dfield.csv'
df3D = pd.read_csv(file1,sep=',', index_col=None, 
                     header=0)
print(df3D)

      CruiseID Staname      Refdist  Depth         CT         SA     Sigma0  \
0       d22396    13G+  1186.152652     25  12.980150  35.327645  26.518612
1       d22396    13G+  1186.152652     35  12.957195  35.327343  26.522876
2       d22396    13G+  1186.152652     45  12.741765  35.316042  26.556319
3       d22396    13G+  1186.152652     55  12.332102  35.311617  26.632529
4       d22396    13G+  1186.152652     65  11.922477  35.307203  26.708740
...        ...     ...          ...    ...        ...        ...        ...
63894    dy078  IB22S+     6.721022     65   7.857166  35.207729  27.326084
63895    dy078  IB22S+     6.721022     75   7.761429  35.210621  27.342394
63896    dy078  IB22S+     6.721022     85   7.738686  35.217625  27.351197
63897    dy078  IB22S+     6.721022     95   7.722076  35.219149  27.354841
63898    dy078  IB22S+     6.721022    105   7.709302  35.222444  27.359289

           Vrel    Vladcp      Vabs  Vladcpalong
0      0.071146 -0.027394  0.031708    -0.186005
1      0.071017 -0.006057  0.031579    -0.195213
2      0.071887 -0.002070  0.032449    -0.198745
3      0.070745  0.007129  0.031306    -0.210499
4      0.064738  0.027943  0.025300    -0.243177
...         ...       ...       ...          ...
63894 -0.000007  0.039284  0.006471    -0.009145
63895  0.000259  0.048348  0.006736    -0.034539
63896 -0.000039  0.050398  0.006438    -0.051724
63897 -0.000130  0.043659  0.006347    -0.061908
63898  0.000000  0.050598  0.006477    -0.070790

[63899 rows x 11 columns]

#### Import Metadata

In [16]:
# Date of each cruise
file2 = pathdir+'/'+'EELCTDandLADCP_refdate.csv'
dfdate = pd.read_csv(file2,sep=',', index_col=None, 
                     header=0)
print(dfdate)

   CruiseID  Year  Month
0    d22396  1996     10
1    d23097  1997      9
2    d23398  1998      5
3    d24299  1999      9
4    d24500  2000      2
5    d25301  2001     12
6   cd17605  2005     10
7    d31206  2006     10
8    d32107  2007      8
9    d34009  2009      6
10   d35110  2010      5
11   d36511  2011      5
12    jc086  2013      5
13    jr302  2014      7
14    dy031  2015      6
15    dy052  2016      6
16    dy078  2017      5

In [17]:
# Location of EEL stations
file3 = pathdir+'/'+'EELCTDandLADCP_refpos_gvel.csv'
dfloc = pd.read_csv(file3,sep=',', index_col=None, 
                     header=0)
print(dfloc)

   CruiseID  RefLonGV  RefLatGV  RefDepthGV
0       1G+   -6.2080   56.6750       110.0
1       2G+   -6.3250   56.6955        50.0
2       3G+   -6.4085   56.7205        92.5
3       4G+   -6.5250   56.7330        97.5
4       5G+   -6.6750   56.7330        60.0
..      ...       ...       ...         ...
63   IB18S+  -19.7510   62.5000      1730.0
64   IB19S+  -19.6095   62.7920      1535.0
65   IB20S+  -19.7335   63.0250      1215.0
66   IB21S+  -19.9915   63.1745       850.0
67   IB22S+  -20.1410   63.2665       395.0

[68 rows x 4 columns]

## 2. Plot Station Location

## 3. Create Pivot Tables